# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Предположим, что такая зависимость существует. Исследуем ее характер.

Сгруппируем таблицу data по количеству детей у клиента. Методом count() посчитаем сколько выданно кредитов в каждой группе. Сохраним данные в таблице debt_count.

In [22]:
# найдем сколько всего взято кредитов в каждой группе, по количеству детей.
debt_count = data.groupby('children')['debt'].count()
debt_count

children
0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

Сгруппируем таблицу data по количеству детей и посчитайте количество просроченных кредитов в каждой группе методом sum(). Сохраним данные в таблице debt_overdue.

In [23]:
# найдем количество кредитов с задержкой возврата, по каждой группе.
debt_overdue = data.groupby('children')['debt'].sum()
debt_overdue

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

У клиентов с 3, 4 и 5 детьми взято всего 380 кредитов. Эти категории на порядок отличаются от своих более объёмных конкурентов, и сравнивать их некорректно. Объединим их с одной из «больших» категорий в данных. Заменим значение 'children' равные 3, 4 и 5 на '3 и более'. Создадим в датафрейме `data` столбец 'children_group' с категориями:


    'нет детей', 
    '1', 
    '2', 
    '3 и более'.

In [24]:
def group_children(count):
    try:
        if count == 0:
            return 'нет детей'
        elif count == 3 or count == 4 or count == 5:
            return '3 и более'
        elif count == 1:
            return '1'
        elif count == 2:
            return '2'
    except:
        pass
    
data['children_group'] = data['children'].apply(group_children)

Посчитаем долю просроченных кредитов для каждой группы клиентов, после замены.

In [25]:
# найдем сколько всего взято кредитов в каждой группе, по количеству детей.
debt_count = data.groupby('children_group')['debt'].count()
# найдем количество кредитов с задержкой возврата, по каждой группе.
debt_overdue = data.groupby('children_group')['debt'].sum()
debt_share = (debt_overdue/debt_count)*100
print('Доля кредитов с задержкой')
debt_share.sort_values()

Доля кредитов с задержкой

children_group
нет детей    7.543822
3 и более    8.157895
1            9.234609
2            9.454191
Name: debt, dtype: float64

In [26]:
# Создадим сводную таблицу
children_pivot = data.pivot_table(index=['children_group'], columns='debt', 
                                  values='children', aggfunc='count')
# Добавим столбец с общим количеством визитов
children_pivot['total'] = children_pivot[0]+children_pivot[1]
# Добавим столбец с количеством кредитов с задержкой возврата, по каждой группе.
children_pivot['share'] = (children_pivot[1]/children_pivot['total'])*100
children_pivot

debt                0     1  total     share
children_group
1                4364   444   4808  9.234609
2                1858   194   2052  9.454191
3 и более         349    31    380  8.157895
нет детей       13028  1063  14091  7.543822

**Вывод:** 
По результату исследования, видно, что есть зависимость между количеством детей и возвратом кредита в срок.
    1. Вопреки ожиданиям, если у клиента нет детей, то доля кредитов по которым была задержка оплаты 
    самая низкая и составляет 7,54 %.
    2. Если у клиента 1 или 2 ребенка, то эта доля возврастает, и составляет более 9,23 %.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Предположим, что клиенты состоящие в браке, статус 'женат / замужем' или 'гражданский брак', чаще возвращают кредиты в срок.
Сгруппируем таблицу data по семейному статусу и посчитайте количество выданных кредитов в каждой группе методом count(). Результат отсортируйте в порядке убывания и сохраните в таблице 'family_status_count'.

In [27]:
family_status_count = data.groupby('family_status')['debt'].count()
family_status_count.sort_values(ascending=False)

family_status
женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: debt, dtype: int64

Посчитаем количество просроченных кредитов в каждой группе методом sum(). Результат отсортируйте в порядке убывания и сохраните в таблице  family_status_overdue.

In [28]:
# найдем количество кредитов с задержкой возврата, по каждой группе.
family_status_overdue = data.groupby('family_status')['debt'].sum()
family_status_overdue.sort_values(ascending=False)

family_status
женат / замужем          927
гражданский брак         385
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
Name: debt, dtype: int64

In [29]:
# Создадим сводную таблицу
family_status_pivot = data.pivot_table(index=['family_status'], columns='debt', 
                                  values='family_status_id', aggfunc='count')
# Добавим столбец с общим количеством визитов
family_status_pivot['total'] = family_status_pivot[0]+family_status_pivot[1]
# Добавим столбец с количеством кредитов с задержкой возврата, по каждой группе.
family_status_pivot['share'] = (family_status_pivot[1]/family_status_pivot['total'])*100
# Отсортируем долю просрочек по возврастанию
print(family_status_pivot.sort_values('share', ascending=True))

debt                       0    1  total     share
family_status
вдовец / вдова           888   63    951  6.624606
в разводе               1105   84   1189  7.064760
женат / замужем        11334  927  12261  7.560558
гражданский брак        3749  385   4134  9.313014
Не женат / не замужем   2523  273   2796  9.763948

Посчитаем долю просроченных кредитов для каждой группы клиентов и сохраним в переменной family_status_share.

In [30]:
family_status_share = (family_status_overdue/family_status_count)*100
print('Доля кредитов с задержкой')
family_status_share.sort_values()

Доля кредитов с задержкой

family_status
вдовец / вдова           6.624606
в разводе                7.064760
женат / замужем          7.560558
гражданский брак         9.313014
Не женат / не замужем    9.763948
Name: debt, dtype: float64

**Вывод:** 
Гипотеза не подтвердилась. 
У клиентов в гражданском браке процент невозврата на порядок выше, чем у клиентов в официальном браке.

Меньше всего задержек по возврату кредита у клиентов когда-либо состоящих в официальном браке (статус: 'женат / замужем', 'в разводе', 'вдовец / вдова') и составляет менее 7.6 %.

У клиентов не состоящих в официальных отношениях, самый высокий процент задержек по кредиту более 9.3 %.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Предположим, что есть зависимость между уровнем дохода и возвратом кредита в срок. Исследуем характер этой зависимости. Для этого сгруппируем таблицу data по столбцу 'total_income_category' и посчитайте количество выданных кредитов в каждой группе методом count(). Результат отсортируйте в порядке убывания и сохраните в таблице total_income_category_count.

In [31]:
total_income_category_count = data.groupby('total_income_category')['debt'].count()
total_income_category_count

total_income_category
A       25
B     5014
C    15921
D      349
E       22
Name: debt, dtype: int64

In [32]:
# Создадим сводную таблицу
total_income_pivot = data.pivot_table(index=['total_income_category'], columns='debt', 
                                  values='total_income', aggfunc='count')
# Добавим столбец с общим количеством визитов
total_income_pivot['total'] = total_income_pivot[0]+total_income_pivot[1]
# Добавим столбец с количеством кредитов с задержкой возврата, по каждой группе.
total_income_pivot['share'] = (total_income_pivot[1]/total_income_pivot['total'])*100
# Отсортируем долю просрочек по возврастанию
print(total_income_pivot.sort_values('share', ascending=True))

debt                       0     1  total     share
total_income_category
D                        328    21    349  6.017192
B                       4660   354   5014  7.060231
A                         23     2     25  8.000000
C                      14568  1353  15921  8.498210
E                         20     2     22  9.090909

Данные категории не корректно сравнивать, так как основная масса клиентов в категории С, остальные на порядок меньше. 
В датафрейме data создадим новый столбец total_income_category_new с категориями:

    0–70000 — 'E';
    70001–100000 — 'D';
    100001–150000 — 'C';
    150001–300000 — 'B';
    300001 и выше — 'A'.

In [33]:
def categorize_income_new(income):
    try:
        if 0 <= income <= 70000:
            return 'E'
        elif 70001 <= income <= 100000:
            return 'D'
        elif 100001 <= income <= 150000:
            return 'C'
        elif 150001 <= income <= 300000:
            return 'B'
        elif income >= 300001:
            return 'A'
    except:
        pass

In [34]:
data['total_income_category_new'] = data['total_income'].apply(categorize_income_new)

Cгруппируем таблицу data по столбцу 'total_income_category_new' и посчитайте количество выданных кредитов в каждой группе методом count(). Результат отсортируем в порядке убывания и сохраним в таблице total_income_category_count_new.

In [35]:
total_income_category_count_new = data.groupby('total_income_category_new')['debt'].count()
total_income_category_count_new

total_income_category_new
A    1474
B    8303
C    7110
D    2980
E    1464
Name: debt, dtype: int64

Посчиттаем долю просроченных кредитов для каждой группы клиентов, после замены.

In [36]:
income_overdue = data.groupby('total_income_category_new')['debt'].sum()
income_overdue

total_income_category_new
A    106
B    653
C    619
D    253
E    101
Name: debt, dtype: int64

Посчитаем долю просроченных кредитов для каждой группы клиентов и сохраним в переменной total_income_category_share.

In [37]:
total_income_category_share = (income_overdue/ total_income_category_count_new)*100
total_income_category_share

total_income_category_new
A    7.191316
B    7.864627
C    8.706048
D    8.489933
E    6.898907
Name: debt, dtype: float64

**Вывод:** 

По результатам анализа видно, что есть зависимость между уровнем дохода и количеством задержек по кредиту.
    Самый высокий процент задержек по кредиту в группах клиентов с доходом от 70 001 до 150 000 и составляет более 8,5%. 
    В группе с доходом выше 150 000 доля кредитов с задержкой оплаты составляет в среднем 7,5%.
    Самый низкий процент в группе с доходом ниже 70 000 доля кредитов с задержкой оплаты составляет менее 7%.

<div style="background-color:lavender; color:#black; text-align:center; padding:2%">
    
**Женя:** 
    Спасибо за подсказку!)

<div class="alert alert-success">

**Артём:** 👍 Рад помочь.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Сгруппируем таблицу data по столбцу 'purpose_category' и посчитайте количество выданных кредитов в каждой группе методом count(). Результат отсортируйте в порядке убывания и сохраните в таблице 'purpose_category_count'.

In [38]:
purpose_category_count = data.groupby('purpose_category')['debt'].count()
purpose_category_count

purpose_category
операции с автомобилем       4279
операции с недвижимостью    10751
получение образования        3988
проведение свадьбы           2313
Name: debt, dtype: int64

Посчитаем количество просроченных кредитов в каждой группе методом sum(). Результат сохраним в таблице  purpose_category_overdue.

In [39]:
# найдем количество кредитов с задержкой возврата, по каждой группе.
purpose_category_overdue = data.groupby('purpose_category')['debt'].sum()
purpose_category_overdue.sort_values(ascending=False)

purpose_category
операции с недвижимостью    780
операции с автомобилем      400
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

Посчитаем долю просроченных кредитов для каждой группы клиентов и сохраним в переменной purpose_category_share.

In [40]:
purpose_category_share = (purpose_category_overdue/purpose_category_count)*100
purpose_category_share

purpose_category
операции с автомобилем      9.347978
операции с недвижимостью    7.255139
получение образования       9.252758
проведение свадьбы          7.911803
Name: debt, dtype: float64

**Вывод:** 
Если цель кредита "операции с автомобилем" или "получение образования", то доля кредитов с задержкой более 9%.
Если кредит взят на "операции с недвижимостью" или на "проведение свадьбы", то доля кредитов с задержкой на порядок ниже более около 7,5%.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Возможные причины пропусков: 
    "человеческий фактор" - например забыли внести эти данные при заполнении анкеты.
    технические: возможно ошибка произошла при выгрузке данных, так как количество пропусков одинаковое по двум столбцам 'days_employed' и 'total_income'.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 
В данных могут быть выбросы, которые сильно влияют на величину среднего, например очень высокий или низкий доход. Если по таким данным расчитать среднее значение, то оно будет не корректно и смещенно в сторону выброса. не будет отображать реальную ситуацию.
Поэтому в таких случаях чаще используют медиану - такое число в выборке, что ровно половина элементов больше него, а другая половина —  меньше. Она застрахована от выбросов и аномальных значений.

### Шаг 4: общий вывод.

Мы исследовали влияет ли количество детей, семейное положение, уровень дохода и цель кредита на на факт погашения кредита в срок.
    
    1. Количество детей влияет на погашение кредита в срок. Если у клиента нет детей то чаще нет задержек по кредиту.
    
    2. Клиенты когда либо состоявшие в браке имеют меньший процент задержек по кредитам.
    
    3. Так же есть зависимость между уровнем дохода и задержками по кредиту:
        самый высокий процент кредитов с задержкой у клиентов с доходом ниже 30 000;
        более надежные клиенты с доходом от 200 000 до 1000000;
        у самой крупной категории клиентов с доходом от 50 001 до 200 000 доля кредитов с задержкой возврата - 8,5%;
        самый низкий процент 6%  - доход от 30 001 до 50 000.
    
    4. По кредитам на операции с автомобилем или на образование больше задержек с оплатой, чем по кредитам на операции с недвижимостью или на свадьбу.